/*-----------------------General font settings -----------------------*/
html {
  font-size: 15px;
}
body {
  @include flex(column, center, center);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #111;
  padding: $padding;

  @media (min-width: 1400px) and (min-height: 950px) {
    height: 100vh;
    width: 100%;
  }
}

/*-----------------------Scrollbar settings----------------------- */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #e7e7e7;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}
