// for elemnts in main block
// used !important to rewrite all properties when toggle class
.full-screen-mode {
  width: calc(100vw - 20px) !important;
  height: calc(
    100vh - 240px
  ) !important; // 100 header | 100 footer | 40 - 4 margins
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 10px !important;
  position: relative !important;
  top: auto !important;
  bottom: auto !important;
  right: auto !important;
  left: auto !important;
}

// for any elements
.hiden-mode {
  display: none !important;
}
