// colors
$colorBodyBg: #111;
$colorBlockBg: rgb(24, 29, 31);
$colorTableTxt: #fff;
$colorTableCasesTxt: yellow;
$colorTableDeathsTxt: red;
$colorTableRecoveredTxt: green;
$colorDropdownItem: rgb(34, 38, 40);
// font sizes
$sizeTableFont: 1.2rem;
$sizeCounterTitle: 1.4rem;
$sizeCounterNum: 2rem;
// general
$margin: 10px;
$padding: 10px;
$border: 1px solid rgb(134, 134, 134);
$transition: all 0.3s linear;
